body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
}

.icon-vector {
  width: 65px;
  height: 70px;
}

.icon-vector-1 {
  width: 67px;
  height: 70px;
}

.icon-vector-2 {
  width: 70px;
  height: 54px;
}

.icon-vector-3 {
  width: 55px;
  height: 61px;
}

/*ШАПКА САЙТА*/
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.header-container {
  display: flex;
}
.studio-portfolio-contacts {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.nav-items {
  margin-left: 50px;
  position: relative;
}
.logo-prefix {
  color: #2196f3;
  margin-right: 8px;
}
.logo {
  color: #212121;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.nav-link-active {
  color: #2196f3;
}
.nav-link-active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  top: 44px;
}

.icon-smartphone {
  width: 10px;
  height: 15px;
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-e-mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address:hover {
  color: #2196f3;
}

.header-address:hover .icon-e-mail {
  fill: #2196f3;
}
.header-address:hover .icon-smartphone {
  fill: #2196f3;
}

.address-list {
  display: flex;
  margin-top: 32px;
  margin-left: auto;
}
.header-telephone {
  margin-left: 30px;
}

/*HERO СЕКЦИЯ*/

.hero {
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero/header-bg.jpg) center center/cover no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  position: relative;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  line-height: 30px;
  letter-spacing: 0.95px;
  padding: 10px 32px;
}

button:hover {
  cursor: pointer;
}
button:focus {
  background-color: #2196f3;
}

/* О НАС СЕКЦИЯ*/
.features {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: 270px;
}

.features-item-img-wrapper {
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 270px;
  height: 120px;
}

.about-us-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-us-title {
  text-transform: uppercase;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}
.paragraph-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ЧЕМ МЫ ЗАНИМАЕСЯ СЕКЦИЯ*/
.second-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.apps {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.item-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  width: 100%;
}

.apps-item {
  background-image: url(../images/what_we_do/img.jpg);
  width: 370px;
  height: 294px;
  align-items: flex-end;
  display: flex;
}

.apps-item-mobile {
  background-image: url(../images/what_we_do/box.jpg);
}
.apps-item-monitor {
  background-image: url(../images/what_we_do/img1.jpg);
}

/*НАША КОМАНДА СЕКЦИЯ*/
.ourteam {
  background: #f5f4fa;
  margin-top: 94px;
  padding-bottom: 94px;
}
.teams-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-top: 94px;
}
.ourteam-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.ourteam-item {
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-item:first-child {
  margin-left: 0;
}
.ourteam-social-networks {
  display: flex;
  align-items: center;
  margin: auto;
  padding: auto;
}
.icons-item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  border-radius: 50%;
  margin-right: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item .icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item:hover .icon {
  fill: #fff;
}

.icons-item:hover {
  background-color: #2196f3;
}

.profession-text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.teams-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

/*ПОСТОЯННЫЕ КЛИЕНТЫ СЕКЦИЯ*/
.constant-clients {
  padding-bottom: 94px;
}
.third-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding-top: 94px;
}
.icons-list {
  display: flex;
  padding-top: 50px;
}

.icons-list-item {
  border: 1px solid #afb1b8;
  margin-left: 30px;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-list li:hover {
  fill: #2196f3;
}
.icons-list li:hover .icons-list-item {
  border: 1px solid #2196f3;
}
.icons-list li:hover .icon-logo {
  fill: #2196f3;
}
.icon-logo_1 {
  width: 44px;
  height: 49px;
}
.icon-logo_2 {
  width: 40px;
  height: 52px;
}
.icon-logo_3 {
  width: 41px;
  height: 43px;
}
.icon-logo_4 {
  width: 80px;
  height: 42px;
}
.icon-logo_5 {
  width: 59px;
  height: 47px;
}
.icon-logo_6 {
  width: 89px;
  height: 45px;
}

/*ФУТЕР СЕКЦИЯ*/
.studio {
  color: #fff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  padding-top: 0;
  padding-bottom: 20px;
}
.location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.call {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.footer-location {
  display: block;
}
.footer-location-list {
  margin: 0;
  padding: 0;
  text-align: left;
}
.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.footer-social-list li:last-child .icons-item {
  margin-right: 0;
}

.subcribe-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-form {
  display: flex;
}
.subcribe-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1;
  padding: 15px 16px;
  width: 350px;
}
.subcribe-submit {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  padding: 0;
  display: flex;
}
.subscribe {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 29px;
}
/*МОДАЛЬНОЕ ОКНО*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*.backdrop.is-hidden {
  opacity: 0.5;
  pointer-events: none;
}*/

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-text {
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 40px;
}

.form-field {
  position: relative;
  width: 370px;
  height: 40px;
  margin-left: 40px;
  margin-bottom: 30px;
}

.modal-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 19px;
  margin-top: 14px;
  width: 12px;
  height: 12px;
}
.div-textarea {
  position: relative;
  display: block;
  height: 120px;
}
.textarea {
  width: 370px;
  height: 120px;
  margin-left: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
.textarea-label {
  position: absolute;
  top: 12px;
  left: 56px;
  width: 338px;
  height: 96px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.agree {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
.connection-link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.form-button {
  margin-top: 31px;
  margin-left: 125px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.text-submit {
  width: 89px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.connection-field {
  position: relative;
  display: block;
  padding-left: 42px;
  width: 370px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 42px;
  width: 58px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
  transform: translateY(80%);
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;
}
.checkbox {
  position: absolute;
  appearance: none;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
}
.agree {
  margin-left: 8px;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url();
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.connection-field:focus + .label,
.connection-field:not(:placeholder-shown) + .label {
  color: #2196f3;
  margin-left: 19px;
  transform: translateY(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus + .textarea-label,
.textarea:not(:placeholder-shown) + .textarea-label {
  color: #2196f3;
  top: -20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connection-field:focus ~ .modal-icon {
  fill: #2196f3;
}

/*--------------------------------------------------------------*/

/*СЕКЦИЯ КНОПОК В ПОРТФОЛИО*/
.buttons-section {
  padding-top: 93px;
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: center;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  background: #f5f4fa;
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button-active {
  background: #2196f3;
  color: #f5f5f5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*ПОРТФОЛИО*/
.images-section {
  margin: 0;
  padding-top: 56px;
  padding-bottom: 94px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.portfolio-item {
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  height: 294px;
}

.portfolio-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
}
.portfolio-description {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  margin: 0;

  transform: translateY(100%); /*стартова позиція*/
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-description {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
  /*кінцева позиція*/
}

.portfolio-title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-left: 24px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.portfolio-work {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
}
